<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="衣一租衣，时尚租衣平台，您身边的移动衣柜">
    <meta name="author" content="Yii">

    <title>衣一租衣 - 时尚移动衣柜</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">

    <%= render Yii.LayoutView, "header.html" %>

    <%= render @view_module, @view_template, assigns %>

    <%= render Yii.LayoutView, "footer.html" %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
